header {
    padding: 20px 0px;
    border-bottom: 1px solid white;
    box-shadow: 5px 0px 5px 1px #ffffff5b;
}
header nav {
    display: flex;
    align-items: center;
    flex-direction: row !important;
    justify-content: space-between;
}
header nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-right: 35px;
    transition: all ease 0.3s;
    font-size: 18px;
}
header nav a:last-of-type {
    margin-right: 0px;
}
header nav a .effect-link {
    width: 0%;
    height: 3px;
    border-radius: 2px;
    background-color: var(--font-secondary);
    transition: all ease 0.4s;
}
header nav a:hover .effect-link {
    width: 100%;
}